body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
}

#entry-form {
    max-width: 800px;
    margin: auto;
    margin-top: 30px;
    background-color: rgba(118, 139, 130, 0.3);
    padding: 30px;
    border-radius: 50px;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 500px;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

button {
    padding: 10px;
    background-color: rgb(239, 127, 62);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

#HyperLinkField,
#educationFields,
#workExperienceFields,
#skillField,
#certificationFields,
#projectField {
    margin-top: 20px;
}

.HyperLink-entry,
.education-entry,
.work-experience-entry,
.skills-entry,
.certifications-entry,
.project-entry {
    margin-bottom: 10px;
}

.HyperLink-entry *,
.education-entry *,
.work-experience-entry *,
.skills-entry *,
.certifications-entry *,
.project-entry * {
    margin: 10px;
}

.education-entry,
.certifications-entry,
.project-entry,
.work-experience-entry {
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
