
    

nav{display: flex;
background-color: rgb(234, 186, 130);
margin: 0;
margin-top: 0px;


}

ul{
    display: flex;
    position: relative;
    left: 600px;
    width: 500px;
    top:10px;
}
nav li *{
    
    margin:10px;
    padding: 10px;
    max-height: fit-content;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    top: 30px;
    color: white;    

}
#nav-logo{
    width: 100px;
    height:100px;
    margin: 20px;
}
#logout-button{
    height:50px;
    width:100px;
    font-size: 18px;
    position: relative;
    top: 15px;
    left: 60px;
    border-radius: 10px;
    margin-right: 20px;
    background-color: red;
}


li{
    list-style: none;
}